body {
      background-color: #ecf0f5;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.container{
    width: 750px;
}
.glyphicon{
    font-size: 18px;
}
.glyphicon-ok{
    color: #008000;
}
.glyphicon-remove{
    color:#dd0000;
}
ul{
    list-style: none;
}
#system_details ul li{
    margin-top:20px;
    display: none;
    font-size: 18px;
}
#box-footer{
    margin-left:45px;
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;
    z-index: 1;
    display: none;
}
.form-control{
    border-radius: 0;
}
label{
    font-weight: 500;
}
textarea{
    resize: none;
}
.login-logo {
    font-size: 25px;
    text-align: center;
    margin-bottom: 0;
    background: #2e3e4e;
    padding: 20px;
    color: #FFFFFF;
}